*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  inline-size: 100%;
  block-size: 100%;
  background-color: aqua;
}
#root{
  inline-size: 100%;
  block-size: 100vh;
  background-color: beige;
}
